@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0ad2ed;
  --foreground: white;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0ad2ed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input:focus {
  outline: none; /* デフォルトのフォーカスリングを無効にする */
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background: var(--background) !important;
}