.header {
    background-color: #0ad2ed;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
  }
  
  .blankContainer{
    flex: 1;
  }

  .siteName{
    flex: 1;
    text-align: center;
  }
  .navContainer {
    flex: 1;
    text-align: right; 
  }

  .navList {
    list-style-type: none;
    padding: 0;
  }
  
  .navItem {
    display: inline;
    margin-right: 10px;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
  }
  